<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro Usuário</title>
</head>

<body>
	<section layout:fragment="content">
    
 		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Usuários</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a th:href="@{/usuario/listar}">Pesquisa de Usuário</a></li>
				</ul>
			</div>

			<div class="tile">
				<div class="tile-body">
			
			        <form th:action="${usuario.id == null} ? @{/usuario/incluir} : @{/usuario/alterar}" 
			        	method="POST" 
			        	th:object="${usuario}">
			        	
			        	<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div th:replace="fragments/validacao :: validacao"></div>
			        			<div th:replace="fragments/alert"></div>
			        		</div>
			        	</div>
			        	
			        	<input type="hidden" 
			        		id="id" 
			        		name="id" 
			        		th:field="*{id}" />
			        
			        	<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						            <label class="control-label">Nome</label>
						            <input type="text" 
						            	id="username" 
						            	name="username" 
						            	th:field="*{username}"
						            	th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
						             	class="form-control" />
						             
						             <div class="invalid-feedback">
						             	<span th:errors="*{username}"></span>
						             </div>
					            </div>
				            </div>
						</div>
						
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						            <label class="control-label">E-mail</label>
						            <input type="text" 
						            	id="email" 
						            	name="email" 
						            	th:field="*{email}" 
						            	th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
						            	class="form-control" />
						            
						            <div class="invalid-feedback">
						             	<span th:errors="*{email}"></span>
						            </div>
						        </div>
						    </div>
						</div>
						
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						            <label class="control-label">Senha</label>
						            <input type="text" 
						            	id="password" 
						            	name="password" 
						            	th:field="*{password}" 
						            	th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
						            	class="form-control" />
						            
						            <div class="invalid-feedback">
						             	<span th:errors="*{password}"></span>
						            </div>
						 		</div>
						    </div>
						</div>
						
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						            <label class="control-label">Confirma Senha</label>
						            <input type="text" 
						            	id="confirmPassword" 
						            	name="confirmPassword" 
						            	th:field="*{confirmPassword}" 
						            	th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'"
						            	class="form-control" />
						            	
						            <div class="invalid-feedback">
						             	<span th:errors="*{confirmPassword}"></span>
						            </div>
						        </div>
						    </div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Departamento</label> 
									<select
										id="selectDepartamento" name="selectDepartamento"
										th:field="*{departamento}"
										class="form-control" >
										<option value="">Selecione um Departamento</option>
										<option th:each="departamento : ${departamentos}" 
												th:value="${departamento.id}"
												th:text="${departamento.name}"
												th:classappend="${#fields.hasErrors('departamento.id')} ? 'is-invalid'"></option>
									</select>	
									<div class="invalid-feedback">
										<span th:errors="*{departamento}"></span>
									</div>
								</div>
							</div>
						</div>
			
			            <div class="tile-footer">
			            	<button type="submit" class="btn btn-primary">Salvar</button>
			            	<a th:href="@{/usuario/listar}" class="btn btn-warning">Cancelar</a>
			            </div>
			        </form>
				</div>
			</div>
	     </div>
     
    </section>
    
</body>
</html>