<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeLeaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro Usuário</title>
</head>

<body>
	<section layout:fragment="content">

		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Usuários</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a th:href="@{/usuario/listar}">Pesquisa de Usuário</a></li>
				</ul>
			</div>

			<div class="tile">
				<div class="tile-body">

			      <form th:action="@{/usuario/incluir}" method="POST" th:object="${usuario}">
			      	<input type="hidden" id="id" name="id" th:field="*{id}" />
			      
			      		<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Nome</label>
						          <input type="text" id="username" name="username" th:field="*{username}" class="form-control" />
						        </div>
						    </div>
						</div>	      
				
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">E-mail</label>
						          <input type="text" id="email" name="email" th:field="*{email}" class="form-control" />
						        </div>
						    </div>
						</div>
				
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Senha</label>
						          <input type="text" id="password" name="password" th:field="*{password}" class="form-control" />
						        </div>
						    </div>
						</div>
				
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Confirma Senha</label>
						          <input type="text" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" class="form-control" />
						        </div>
						    </div>
						</div>
			
			          <div class="tile-footer">
			          	<a th:href="@{/usuario/listar}" class="btn btn-primary">Listar</a>
			          </div>
			      </form>
      			</div>
      		</div>
      	</div>
      		
	</section>
</body>
</html>