<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
	<meta charset="UTF-8">
	<title>Usuários</title>
</head>

<body>
	
	<section layout:fragment="content">
	
		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Usuários</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a href="#">Menu</a></li>
				</ul>
			</div>
			
			<table class="table table-stripped table-bordered table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Ações</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td th:text="${usuario.id}"></td>
						<td th:text="${usuario.username}"></td>
						<td th:text="${usuario.email}"></td>
						<td>
							<a class="btn btn-sm btn-info" th:href="@{/usuario/alterar/{id} (id=${usuario.id})}">
								<i class="fa fa-pencil"></i>
							</a>
							<a class="btn btn-sm btn-danger" th:href="@{/usuario/excluir/{id} (id=${usuario.id})}">
								<i class="fa fa-trash"></i>
							</a> 
							<a class="btn btn-sm btn-primary" th:href="@{/usuario/consultar/{id} (id=${usuario.id})}">
								<i class="fa fa-search"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<a class="btn btn-sm btn-success" th:href="@{/usuario/cadastro}">
				<i class="fa fa-plus-circle"></i>
			</a>
		
		</div>
		
	</section>		
		
</body>
</html>