<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
	<meta charset="UTF-8">
	<title>Departamentos</title>
</head>

<body>
	
	<section layout:fragment="content">
	
		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Departamentos</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a href="#">Menu</a></li>
				</ul>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div th:replace="fragments/alert"></div>
			</div>
			
			<div class="tile">
				<div class="tile-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group row">
								<label for="pageSizeSelect" class="col-form-label col-12 col-sm-2">Mostrar:</label>
								
								<div class="col-8 col-sm-6 col-md-6 offset-md-1">
									<select class="form-control pagination" id="pageSizeSelect">
										<option th:each="pageSize : ${pageSizes}" 
											th:text="${pageSize}"
											th:value="${pageSize}"
											th:selected="${pageSize} == ${size}"></option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<form method="GET" th:object="${departamentoFiltro}">
								<div class="form-group offset-md-1">
									<div class="row">
										<label class="col-form-label col-12 col-sm-2 col-md-1">Nome:</label>
										<div class="col-8 col-sm-8 col-md-8 offset-md-1">
											<input type="text" 
												id="nome" 
												name="nome" 
												class="form-control"
												placeholder="Digite um nome para pesquisa"
												th:field="*{nome}" />
										</div>
											
										<div class="col-2 col-sm-2 col-md-2">
											<button type="submit" class="btn btn-primary">
												<i class="fa fa-search-plus"></i>
											</button>
										</div>	
									</div>
								</div>
							</form>
						</div>
					</div>
			
					<div id="no-more-tables">
						<table id="tabela" class="table table-stripped table-bordered table-hover cf">
							<thead class="cf">
								<tr class="p-3 mb-2 bg-primary text-white">
									<th style="font-weight: bold; text-align: center;">
										ID
									</th>
									<th style="font-weight: bold; text-align: center;">
										Nome
									</th>
									<th style="font-weight: bold; text-align: center;">
										Ações
									</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="departamento : ${departamentos}">
									<td data-title="ID" th:text="${departamento.id}"></td>
									<td data-title="Nome" th:text="${departamento.name}"></td>
									<td data-title="Ação">
										<a class="btn btn-sm btn-info" th:href="@{/departamento/alterar/{id} (id=${departamento.id})}">
											<i class="fa fa-pencil"></i>
										</a>
										<a class="btn btn-sm btn-danger" th:href="@{/departamento/excluir/{id} (id=${departamento.id})}">
											<i class="fa fa-trash"></i>
										</a> 
										<a class="btn btn-sm btn-primary" th:href="@{/departamento/consultar/{id} (id=${departamento.id})}">
											<i class="fa fa-search"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<a class="btn btn-sm btn-success" th:href="@{/departamento/cadastrar}">
						<i class="fa fa-plus-circle"></i>
					</a>
		
				</div>
			</div>
		
		</div>
		
	</section>	
	
	<th:block layout:fragment="javascript-extra">
    	$(document).ready(function(){
    		changePageAndSize();
    	});
    	
    	function changePageAndSize() {
    		$('#pageSizeSelect').change(function(event){
    			window.location.replace("/departamento/listar?size="+this.value+"&page=0")
    		});
    	}
    </th:block>	
		
</body>
</html>