<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body >
	<header class="app-header" th:fragment="header">
      <a class="app-header__logo" >Projeto</a>
      <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      
      <div class="app-nav">
      
			<img class="app-sidebar__user-avatar" th:src="@{/img/thumbnail.default-avatar.png}" id="fotoSideDisco"/> 
	
           <a style="float:right; 
		   		   padding-top: 15px; 
		   		   padding-right: 40px; 
		   		   color: #fff "
		   		   href="#" >
		   </a>
		   
           <a style="float:right; 
           	  padding-top: 15px; 
           	  color: #212529; 
           	  text-decoration: none;" 
           	  href="#"><i class="fa fa-sign-out fa-lg"></i>Logout
           </a>
      </div>
	</header>
</body>
</html>

