<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro Livro</title>
</head>

<body>
	<section layout:fragment="content">
    
 		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Livros</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a th:href="@{/livro/listar}">Pesquisa de Livro</a></li>
				</ul>
			</div>

			<div class="tile">
				<div class="tile-body">
			
			        <form th:action="${livro.id == null} ? @{/livro/incluir} : @{/livro/alterar}" 
			        	method="POST" 
			        	th:object="${livro}"
			        	id="formLivro">
			        	
			        	<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div th:replace="fragments/validacao :: validacao"></div>
			        			<div th:replace="fragments/alert"></div>
			        		</div>
			        	</div>
			        	
			        	<input type="hidden" 
			        		id="id" 
			        		name="id" 
			        		th:field="*{id}" />
			        
			        	<div class="row">
			        		<div class="col-sm-4">
			        			<div class="row">
			        				<div class="col-xs-12 col-sm-12 col-md-12">
			        					<div class="form-group">
			        						<div id="drop-zone">
			        							<input type="hidden" th:field="*{photo}" id="cfoto" />
			        							<input type="hidden" th:field="*{contentType}" id="contentType" />
			        							
			        							<div id="fotoDisco">
			        								<img th:src="@{/img/default-image.png}" 
			        									class="img-fluid"
			        									id="imageUpload"
			        									name="upload" />
			        							</div>
			        							
			        							<div id="fotoBanco">
			        								<img th:src="@{/livro/foto/{foto}(foto=${livro.photo})}" 
			        									class="img-fluid"
			        									id="foto" />
			        							</div>
			        							
			        							<div id="clickHereLeft" style="float: left;">
			        								<input type="file" 
			        									accept=".jpg, .jpeg, .png"
			        									id="fileInput"
			        									class="form-control hide btn-responsive" />
			        									
			        								<div style="text-align: center;">
			        									<label for="fileInput">
			        										<i class="fa fa-upload fa-lg"></i>
			        									</label>
			        								</div>
			        							</div>
			        							
			        							<div id="clickHereRight" style="float: right;">
			        								<input type="button" 
			        									id="fileExcluir"
			        									class="form-control hide btn-responsive" />
			        									
			        								<div style="text-align: center;">
			        									<label for="fileExcluir">
			        										<i class="fa fa-trash fa-lg"></i>
			        									</label>
			        								</div>
			        							</div>
			        						</div>
			        					</div>
			        				</div>
			        			</div>
							</div>
							
							<div class="col-sm-8">
								<div class="row">
					        		<div class="col-xs-12 col-sm-12 col-md-12">
					        			<div class="form-group">
								            <label class="control-label">Título</label>
								            <input type="text" 
								            	id="title" 
								            	name="title" 
								            	th:field="*{title}"
								            	th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
								             	class="form-control" />
								             
								             <div class="invalid-feedback">
								             	<span th:errors="*{title}"></span>
								             </div>
							            </div>
						            </div>
								</div>
							
								<div class="row">
					        		<div class="col-xs-12 col-sm-12 col-md-12">
					        			<div class="form-group">
								            <label class="control-label">Autor</label>
								            <input type="text" 
								            	id="author" 
								            	name="author" 
								            	th:field="*{author}" 
								            	th:classappend="${#fields.hasErrors('author')} ? 'is-invalid'"
								            	class="form-control" />
								            
								            <div class="invalid-feedback">
								             	<span th:errors="*{author}"></span>
								            </div>
								        </div>
								    </div>
								</div>
								
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<div class="form-group">
											<label class="control-label">Editora</label> 
											
											<select
												id="selectEditora" 
												name="editora"
												th:field="*{publisher}"
												class="form-control dropdown-select-simple" >
		
												<option th:each="editora : ${editoras}" 
														th:value="${editora.id}"
														th:text="${editora.name}"
														th:selected="${selected} eq ${editora}"
														th:classappend="${#fields.hasErrors('publisher.id')} ? 'is-invalid'"></option>
											</select>	
											
											<div class="invalid-feedback">
												<span th:errors="*{publisher}"></span>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
					        		<div class="col-xs-12 col-sm-12 col-md-12">
					        			<div class="form-group">
								            <label class="control-label">Páginas</label>
								            <input type="number" 
								            	id="numberPages" 
								            	name="numberPages" 
								            	th:field="*{numberPages}" 
								            	th:classappend="${#fields.hasErrors('numberPages')} ? 'is-invalid'"
								            	class="form-control" />
								            
								            <div class="invalid-feedback">
								             	<span th:errors="*{numberPages}"></span>
								            </div>
								 		</div>
								    </div>
								</div>
								
								<div class="row">
					        		<div class="col-xs-12 col-sm-12 col-md-12">
					        			<div class="form-group">
								            <label class="control-label">Ano Publicação</label>
								            <input type="number" 
								            	id="yearPublication" 
								            	name="yearPublication" 
								            	th:field="*{yearPublication}" 
								            	th:classappend="${#fields.hasErrors('yearPublication')} ? 'is-invalid'"
								            	class="form-control" />
								            	
								            <div class="invalid-feedback">
								             	<span th:errors="*{yearPublication}"></span>
								            </div>
								        </div>
								    </div>
								</div>
								
								<div class="row">
					        		<div class="col-xs-12 col-sm-12 col-md-12">
					        			<div class="form-group">
								            <label class="control-label">Quantidade Total</label>
								            <input type="number" 
								            	id="totalAmount" 
								            	name="totalAmount" 
								            	th:field="*{totalAmount}" 
								            	th:classappend="${#fields.hasErrors('totalAmount')} ? 'is-invalid'"
								            	class="form-control" />
								            	
								            <div class="invalid-feedback">
								             	<span th:errors="*{totalAmount}"></span>
								            </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
							
			            <div class="tile-footer">
			            	<button type="button" class="btn btn-primary" id="btnModal">Salvar</button>
			            	<a th:href="@{/livro/listar}" class="btn btn-warning">Cancelar</a>
			            </div>
			        </form>
				</div>
			</div>
	     </div>
	     
	     <div class="modal modal-danger fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-center">Confirme a Alteração do Registro!</h4>
					</div>
					<div class="modal-body">
						<p class="text-center">Você tem certeza do que está fazendo?</p>
					</div>
					<div class="modal-footer">
						<button type="button" 
							id="btnCancel" 
							class="btn btn-success"
							data-dismiss="modal">
							Não, Cancelar
						</button>
						
						<button type="submit" 
							id="confirmAction" 
							class="btn btn-danger">
							Sim, Alterar
						</button>
					</div>
				</div>
			</div>
		</div>
     
    </section>
    
    <th:block layout:fragment="javascript-extra">
		<script>
		
			$("#selectEditora").select2({
				ajax: {
					url: '/livro/buscaEditora',
					dataType: 'json',
					delay: 250,
					data: function(params) {
						return {
							q: params.term
						};
					},
					processResults: function(response) {
						return {
							results: response
						};
					},
					cache: true
				}
			});
		
			$('#btnModal').on('click', function(event){
				if ($('#id').val() != 0) {
					$('#myModal').modal();
				} else {
					event.preventDefault();
					$('#formLivro').submit();
				}
			});
			
			$('#confirmAction').on('click', function(event){
				event.preventDefault();
				$('#formLivro').submit();
			})
			
			/*--- Lógica fotos ---*/		
			$("#fotoDisco").hide();
			$("#fotoBanco").hide();
			
			$(document).ready(function() {
				if ($("#cfoto").val().length === 0) {
					$("#fotoDisco").show();
					$("#fotoBanco").hide();
				} else {
					$("#fotoDisco").hide();
					$("#fotoBanco").show();
				}
			});
			
			$("#fileInput").change(function(event) {
				event.preventDefault();
				enviarFoto(this);
			});
			
			$("#fileExcluir").click(function(event) {
				event.preventDefault();
				excluirFoto();
			});
			
			function enviarFoto(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					var fileName = $("#fileInput").val();
					
					fileName = fileName.substring(fileName.lastIndexOf("\\")+1);
					
					reader.onload = function(e) {
						$("#fotoBanco").hide();
						$("#fotoDisco").show();
						$("#imageUpload").attr("src", e.target.result);
						$("#imageUpload").hide();
						$("#imageUpload").fadeIn(500);
					}
					
					reader.readAsDataURL(input.files[0]);
					sendToServer(input.files[0]);
				}
			}
			
			function sendToServer(input) {
				var token = $("#_csrf").attr("content");
				var header = $("#_csrf_header").attr("content");
				var host = location.protocol + "//" + $(location).attr("host");
				var formData = new FormData();
				
				if (formData) {
					formData.append("id", $("#id").val());
					formData.append("foto", input);
					
					$.ajax({
						url: host + "/livro/foto/gravar",
						method: "POST",
						data: formData,
						enctype: "multipart/form-data",
						processData: false,
						contentType: false,
					/* 	beforeSend: function(xhr) {
							xhr.setRequestHeader(header, token);
						}, */
						success: function(response) {						
							$("#cfoto").val(response.nomeArquivo);
							$("#contentType").val(response.contentType);
						},
					});
				}
			}
			
			function excluirFoto() {
				var token = $("#_csrf").attr("content");
				var header = $("#_csrf_header").attr("content");
				var host = location.protocol + "//" + $(location).attr("host");
				
				var FotoRequest = {
					id: $("#id").val(),
					nomeArquivo: $("#cfoto").val(),
					contentType: $("#contentType").val()
				};

					
				$.ajax({
					url: host + "/livro/foto/delete",
					method: "POST",
					data: JSON.stringify(FotoRequest),
					dataType: "JSON",
					contentType: "application/json",
				/* 	beforeSend: function(xhr) {
						xhr.setRequestHeader(header, token);
					}, */
					success: function(response) {						
						$("#fotoBanco").hide();
						$("#fotoDisco").show();
						$("#imageUpload").attr("src", host + "/img/" + response.nomeArquivo);
						$("#fileInput").val("");
						$("#cfoto").val("");
						$("#contentType").val("");
					},
				});
			}
		
		</script>
	</th:block>	
    
</body>
</html>