<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeLeaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro Livro</title>
</head>

<body>
	<section layout:fragment="content">

		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Livros</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a th:href="@{/livro/listar}">Pesquisa de Livro</a></li>
				</ul>
			</div>

			<div class="tile">
				<div class="tile-body">

			      <form th:object="${livro}">
			      
			      		<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Título</label>
						          <input type="text" id="title" name="title" th:field="*{title}" class="form-control" />
						        </div>
						    </div>
						</div>	      
				
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Autor</label>
						          <input type="text" id="author" name="author" th:field="*{author}" class="form-control" />
						        </div>
						    </div>
						</div>
				
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Editora</label>
						          <input type="text" id="publisher" name="publisher" th:field="*{publisher.name}" class="form-control" />
						        </div>
						    </div>
						</div>
				
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Páginas</label>
						          <input type="number" id="numberPages" name="numberPages" th:field="*{numberPages}" class="form-control" />
						        </div>
						    </div>
						</div>
						
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Ano Publicação</label>
						          <input type="number" id="yearPublication" name="yearPublication" th:field="*{yearPublication}" class="form-control" />
						        </div>
						    </div>
						</div>
						
						<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Quantidade Total</label>
						          <input type="number" id="totalAmount" name="totalAmount" th:field="*{totalAmount}" class="form-control" />
						        </div>
						    </div>
						</div>
			
			          <div class="tile-footer">
			          	<a th:href="@{/livro/listar}" class="btn btn-primary">Listar</a>
			          </div>
			      </form>
      			</div>
      		</div>
      	</div>
      		
	</section>
</body>
</html>