<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
	<meta charset="UTF-8">
	<title>Livros</title>
</head>

<body>
	
	<section layout:fragment="content">
	
		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Livros</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a href="#">Menu</a></li>
				</ul>
			</div>
			
			<div class="container">
				<div class="tile">
					<div class="tile-body">
					
						<form class="form-inline" method="GET" th:object="${livroFiltro}">
							<div class="col-xs-12 col-sm-12">
								<div class="form-group">
									<label class="control-label col-sm-1">Nome:</label>
									<input type="text" 
										id="nome" 
										name="nome" 
										class="form-control col-sm-9"
										placeholder="Digite um título para pesquisa"
										th:field="*{nome}" />
										
									<div class="col-sm-2">
										<button type="submit" class="btn btn-primary">Pesquisar
											<i class="fa fa-search-plus"></i>
										</button>
									</div>	
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="tile">
				<div class="tile-body">
				
					<div class="form-group row col-md-10">
						<label for="pageSizeSelect" class="col-form-label">
							<b>Mostrar:</b>
						</label>
						
						<div>
							<select class="form-control pagination" id="pageSizeSelect">
								<option th:each="pageSize : ${pageSizes}" 
									th:text="${pageSize}"
									th:value="${pageSize}"
									th:selected="${pageSize} == ${size}"></option>
							</select>
						</div>
					</div>
			
					<table class="table table-stripped table-bordered table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Título</th>
								<th>Autor</th>
								<th>Editora</th>
								<th>Páginas</th>
								<th>Ano Publicação</th>
								<th>Quantidade Total</th>
								<th>Ações</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="livro : ${livros}">
								<td th:text="${livro.id}"></td>
								<td th:text="${livro.title}"></td>
								<td th:text="${livro.author}"></td>
								<td th:text="${livro.publisher.name}"></td>
								<td th:text="${livro.numberPages}"></td>
								<td th:text="${livro.yearPublication}"></td>
								<td th:text="${livro.totalAmount}"></td>
								<td>
									<a class="btn btn-sm btn-info" th:href="@{/livro/alterar/{id} (id=${livro.id})}">
										<i class="fa fa-pencil"></i>
									</a>
									<a class="btn btn-sm btn-danger" th:href="@{/livro/excluir/{id} (id=${livro.id})}">
										<i class="fa fa-trash"></i>
									</a> 
									<a class="btn btn-sm btn-primary" th:href="@{/livro/consultar/{id} (id=${livro.id})}">
										<i class="fa fa-search"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					
					<a class="btn btn-sm btn-success" th:href="@{/livro/cadastrar}">
						<i class="fa fa-plus-circle"></i> Novo Livro
					</a>
					
					<a class="btn btn-sm btn-success" th:href="@{/livro/relatorio}">
						Relatório
					</a>
		
				</div>
			</div>
		
		</div>
		
	</section>	
	
	<th:block layout:fragment="javascript-extra">
    	$(document).ready(function(){
    		changePageAndSize();
    	});
    	
    	function changePageAndSize() {
    		$('#pageSizeSelect').change(function(event){
    			window.location.replace("/livro/listar?size="+this.value+"&page=0")
    		});
    	}
    </th:block>	
		
</body>
</html>