<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
	<meta charset="UTF-8">
	<title>Livros</title>
</head>

<body>
	
	<section layout:fragment="content">
	
		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Livros</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a href="#">Menu</a></li>
				</ul>
			</div>
			
			<div class="tile">
				<div class="tile-body">
				
					<form class="form-inline" method="GET" th:object="${livroFiltro}">
						<div class="col-xs-12 col-sm-12">
							<div class="form-group">
								<label class="control-label col-sm-1">Título:</label>
								<input type="text" 
									id="title" 
									name="title" 
									class="form-control col-sm-9"
									placeholder="Digite um título para pesquisa"
									th:field="*{title}" />
									
								<div class="col-sm-2">
									<button type="submit" class="btn btn-primary">Pesquisar
										<i class="fa fa-search-plus"></i>
									</button>
								</div>	
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div th:replace="fragments/alert"></div>
			</div>
			
			<div class="tile">
				<div class="tile-body">
				
					<div class="form-group row col-md-10">
						<label for="pageSizeSelect" class="col-form-label">
							<b>Mostrar:</b>
						</label>
						
						<div>
							<select class="form-control pagination" id="pageSizeSelect">
								<option th:each="pageSize : ${pageSizes}" 
									th:text="${pageSize}"
									th:value="${pageSize}"
									th:selected="${pageSize} == ${size}"></option>
							</select>
						</div>
					</div>
			
					<table class="table table-stripped table-bordered table-hover">
						<thead>
							<tr class="p-3 mb-2 bg-primary text-white">
								
								<th style="font-weight: bold; text-align: center;">
									<a th:href="${pagina.urlOrdenada('id')}"
										th:remove="${pagina.vazia} ? tag">
										<span style="color: white;">ID</span>
										<span class="dropup" 
											th:remove="${pagina.descendente('id')} ? tag"
											th:if="${pagina.ordenada('id')}">
											<span class="dropdown-toggle"></span>
										</span>
									</a>
								</th>
								
								<th style="font-weight: bold; text-align: center;">
									<a th:href="${pagina.urlOrdenada('title')}"
										th:remove="${pagina.vazia} ? tag">
										<span style="color: white;">Título</span>
										<span class="dropup" 
											th:remove="${pagina.descendente('title')} ? tag"
											th:if="${pagina.ordenada('title')}">
											<span class="dropdown-toggle"></span>
										</span>
									</a>
								</th>
								
								<th style="font-weight: bold; text-align: center;">
									<a th:href="${pagina.urlOrdenada('author')}"
										th:remove="${pagina.vazia} ? tag">
										<span style="color: white;">Autor</span>
										<span class="dropup" 
											th:remove="${pagina.descendente('author')} ? tag"
											th:if="${pagina.ordenada('author')}">
											<span class="dropdown-toggle"></span>
										</span>
									</a>
								</th>
								
								<!-- <th style="font-weight: bold; text-align: center;">
									<a th:href="${pagina.urlOrdenada('publisher.name')}"
										th:remove="${pagina.vazia} ? tag">
										<span style="color: white;">Editora</span>
										<span class="dropup" 
											th:remove="${pagina.descendente('publisher.name')} ? tag"
											th:if="${pagina.ordenada('publisher.name')}">
											<span class="dropdown-toggle"></span>
										</span>
									</a>
								</th> -->
								<th style="font-weight: bold; text-align: center;">Editora</th>
								
								<th style="font-weight: bold; text-align: center;">
									<a th:href="${pagina.urlOrdenada('numberPages')}"
										th:remove="${pagina.vazia} ? tag">
										<span style="color: white;">Páginas</span>
										<span class="dropup" 
											th:remove="${pagina.descendente('numberPages')} ? tag"
											th:if="${pagina.ordenada('numberPages')}">
											<span class="dropdown-toggle"></span>
										</span>
									</a>
								</th>
								
								<th style="font-weight: bold; text-align: center;">
									<a th:href="${pagina.urlOrdenada('yearPublication')}"
										th:remove="${pagina.vazia} ? tag">
										<span style="color: white;">Ano Publicação</span>
										<span class="dropup" 
											th:remove="${pagina.descendente('yearPublication')} ? tag"
											th:if="${pagina.ordenada('yearPublication')}">
											<span class="dropdown-toggle"></span>
										</span>
									</a>
								</th>
								
								<th style="font-weight: bold; text-align: center;">
									<a th:href="${pagina.urlOrdenada('totalAmount')}"
										th:remove="${pagina.vazia} ? tag">
										<span style="color: white;">Quantidade Total</span>
										<span class="dropup" 
											th:remove="${pagina.descendente('totalAmount')} ? tag"
											th:if="${pagina.ordenada('totalAmount')}">
											<span class="dropdown-toggle"></span>
										</span>
									</a>
								</th>
								
								<th>Ações</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="livro : ${pagina.conteudo}">
								<td th:text="${livro.id}"></td>
								<td th:text="${livro.title}"></td>
								<td th:text="${livro.author}"></td>
								<td th:text="${livro.publisher.name}"></td>
								<td th:text="${livro.numberPages}"></td>
								<td th:text="${livro.yearPublication}"></td>
								<td th:text="${livro.totalAmount}"></td>
								<td>
									<a class="btn btn-sm btn-info" th:href="@{/livro/alterar/{id} (id=${livro.id})}">
										<i class="fa fa-pencil"></i>
									</a>
									<a class="btn btn-sm btn-danger" th:href="@{/livro/excluir/{id} (id=${livro.id})}">
										<i class="fa fa-trash"></i>
									</a> 
									<a class="btn btn-sm btn-primary" th:href="@{/livro/consultar/{id} (id=${livro.id})}">
										<i class="fa fa-search"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					
					<div th:replace="fragments/paginacao"></div>
					
					<a class="btn btn-sm btn-success" 
						th:href="@{/livro/cadastrar}">
						<i class="fa fa-plus-circle"></i>
					</a>
					
					<a class="btn btn-sm btn-primary" 
						th:href="@{/livro/relatorio}"
						target="_blank">
						<i class="fa fa-file-pdf-o"></i>
					</a>
					
					<a class="btn btn-sm btn-primary" 
						th:href="@{/livro/relpdf}"
						target="_blank">
						<i class="fa fa-file-pdf-o"></i>
					</a>
					
					<a class="btn btn-sm btn-primary" 
						th:href="@{/livro/reldownload}">
						<i class="fa fa-download"></i>
					</a>
		
				</div>
			</div>
		
		</div>
		
	</section>	
	
	<th:block layout:fragment="javascript-extra">
		<script>
		
			/*<![CDATA[*/
			
				var sort = /*[[${sort}]]*/ null;
				var dir = /*[[${dir}]]*/ null;
				var currentPage = /*[[${pagina.atual}]]*/ 0;
				var pageSize = /*[[${pagina.size}]]*/ 0;
					
			/*]]>*/
			
	    	$(document).ready(function(){
	    		changePageAndSize();
	    	});
	    	
	    	function changePageAndSize() {
	    		$('#pageSizeSelect').change(function(event){
	    			var queryString = "/livro/listar?size="+this.value+"&page="+currentPage;
	    			
	    			if (!isEmpty(sort)) {
	    				queryString += "&sort="+sort;
	    			}
	    			
	    			if (!isEmpty(dir)) {
	    				queryString += "&dir="+dir;
	    			}
	    			
	    			window.location.replace(queryString);
	    		});
	    	}
	    	
	    	function isEmpty(str) {
	    		return (!str || 0 === str.length);
	    	}
	    	
	    </script>
    </th:block>	
		
</body>
</html>