<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro Editora</title>
</head>

<body>
	<section layout:fragment="content">
    
 		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Editoras</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a th:href="@{/editora/listar}">Pesquisa de Editora</a></li>
				</ul>
			</div>

			<div class="tile">
				<div class="tile-body">
			
			        <form th:action="${editora.id == null} ? @{/editora/incluir} : @{/editora/alterar}" 
			        	method="POST" 
			        	th:object="${editora}"
			        	id="formEditora">
			        	
			        	<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div th:replace="fragments/validacao :: validacao"></div>
			        			<div th:replace="fragments/alert"></div>
			        		</div>
			        	</div>
			        	
			        	<input type="hidden" 
			        		id="id" 
			        		name="id" 
			        		th:field="*{id}" />
			        
			        	<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						            <label class="control-label">Nome</label>
						            <input type="text" 
						            	id="name" 
						            	name="name" 
						            	th:field="*{name}"
						            	th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
						             	class="form-control" />
						             
						             <div class="invalid-feedback">
						             	<span th:errors="*{name}"></span>
						             </div>
					            </div>
				            </div>
						</div>

			            <div class="tile-footer">			            	
			            	<button type="button" 
			            		class="btn btn-primary"
			            		id="btnModal">
			            		Salvar
			            	</button>
			            	
			            	<a th:href="@{/editora/listar}" class="btn btn-warning">Cancelar</a>
			            </div>
			        </form>
				</div>
			</div>
	     </div>
	     
	     <div class="modal modal-danger fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-center">Confirme a Alteração do Registro!</h4>
					</div>
					<div class="modal-body">
						<p class="text-center">Você tem certeza do que está fazendo?</p>
					</div>
					<div class="modal-footer">
						<button type="button" 
							id="btnCancel" 
							class="btn btn-success"
							data-dismiss="modal">
							Não, Cancelar
						</button>
						
						<button type="submit" 
							id="confirmAction" 
							class="btn btn-danger">
							Sim, Alterar
						</button>
					</div>
				</div>
			</div>
		</div>
     
    </section>
    
    <th:block layout:fragment="javascript-extra">
		<script>
		
			$('#btnModal').on('click', function(event){
				if ($('#id').val() != 0) {
					$('#myModal').modal();
				} else {
					event.preventDefault();
					$('#formEditora').submit();
				}
			});
			
			$('#confirmAction').on('click', function(event){
				event.preventDefault();
				$('#formEditora').submit();
			})
		
		</script>
	</th:block>	
    
</body>
</html>