<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeLeaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro Editora</title>
</head>

<body>
	<section layout:fragment="content">

		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Editoras</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a th:href="@{/editora/listar}">Pesquisa de Editora</a></li>
				</ul>
			</div>

			<div class="tile">
				<div class="tile-body">

			      <form th:object="${editora}">
			      
			      		<div class="row">
			        		<div class="col-xs-12 col-sm-12 col-md-12">
			        			<div class="form-group">
						          <label class="control-label">Nome</label>
						          <input type="text" id="name" name="name" th:field="*{name}" class="form-control" />
						        </div>
						    </div>
						</div>	      
			
			          <div class="tile-footer">
			          	<a th:href="@{/editora/listar}" class="btn btn-primary">Listar</a>
			          </div>
			      </form>
      			</div>
      		</div>
      	</div>
      		
	</section>
</body>
</html>