<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    
<head>
	<meta charset="UTF-8">
	<title>Editoras</title>
</head>

<body>
	
	<section layout:fragment="content">
	
		<div class="container">
			<div class="app-title">
				<h1><i class="fa fa-edit">Cadastro de Editoras</i></h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a href="#">Menu</a></li>
				</ul>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div th:replace="fragments/alert"></div>
			</div>
			
			<div class="tile">
				<div class="tile-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group row">
								<label for="pageSizeSelect" class="col-form-label col-12 col-sm-2">
									<b>Mostrar:</b>
								</label>
								
								<div class="col-8 col-sm-6 col-md-6 offset-md-1">
									<select class="form-control pagination" id="pageSizeSelect">
										<option th:each="pageSize : ${pageSizes}" 
											th:text="${pageSize}"
											th:value="${pageSize}"
											th:selected="${pageSize} == ${size}"></option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<form method="GET" th:object="${editoraFiltro}">
								<div class="form-group offset-md-1">
									<div class="row">
										<label class="col-form-label col-12 col-sm-2 col-md-1">Nome:</label>
										<div class="col-8 col-sm-8 col-md-8 offset-md-1">
											<input type="text" 
												id="nome" 
												name="nome" 
												class="form-control"
												placeholder="Digite um nome para pesquisa"
												th:field="*{nome}" />
										</div>
											
										<div class="col-2 col-sm-2 col-md-2">
											<button type="submit" class="btn btn-primary">
												<i class="fa fa-search-plus"></i>
											</button>
										</div>	
									</div>
								</div>
							</form>
						</div>
					</div>
			
					<div id="no-more-tables">
						<table id="tabela" class="table table-stripped table-bordered table-hover cf">
							<thead class="cf">
								<tr class="p-3 mb-2 bg-primary text-white">
									<th style="font-weight: bold; text-align: center;">
										<a th:href="${pagina.urlOrdenada('id')}"
											th:remove="${pagina.vazia} ? tag">
											<span style="color: white;">ID</span>
											<span class="dropup" 
												th:remove="${pagina.descendente('id')} ? tag"
												th:if="${pagina.ordenada('id')}">
												<span class="dropdown-toggle"></span>
											</span>
										</a>
									</th>
									
									<th style="font-weight: bold; text-align: center;">
										<a th:href="${pagina.urlOrdenada('name')}"
											th:remove="${pagina.vazia} ? tag">
											<span style="color: white;">Nome</span>
											<span class="dropup" 
												th:remove="${pagina.descendente('name')} ? tag"
												th:if="${pagina.ordenada('name')}">
												<span class="dropdown-toggle"></span>
											</span>
										</a>
									</th>
									
									<th>Ações</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="editora : ${pagina.conteudo}">
									<td data-title="ID" th:text="${editora.id}"></td>
									<td data-title="Nome" th:text="${editora.name}"></td>
									<td data-title="Ação">
										<a class="btn btn-sm btn-info" th:href="@{/editora/alterar/{id} (id=${editora.id})}">
											<i class="fa fa-pencil"></i>
										</a>
										<a class="btn btn-sm btn-danger" th:href="@{/editora/excluir/{id} (id=${editora.id})}">
											<i class="fa fa-trash"></i>
										</a> 
										<a class="btn btn-sm btn-primary" th:href="@{/editora/consultar/{id} (id=${editora.id})}">
											<i class="fa fa-search"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div th:replace="fragments/paginacao"></div>
					
					<a class="btn btn-sm btn-success" th:href="@{/editora/cadastrar}">
						<i class="fa fa-plus-circle"></i>
					</a>
		
				</div>
			</div>
		
		</div>
		
	</section>	
	
	<th:block layout:fragment="javascript-extra">
		<script>
		
			/*<![CDATA[*/
			
				var sort = /*[[${sort}]]*/ null;
				var dir = /*[[${dir}]]*/ null;
				var currentPage = /*[[${pagina.atual}]]*/ 0;
				var pageSize = /*[[${pagina.size}]]*/ 0;
					
			/*]]>*/
			
	    	$(document).ready(function(){
	    		changePageAndSize();
	    	});
	    	
	    	function changePageAndSize() {
	    		$('#pageSizeSelect').change(function(event){	    			
					var queryString = "/editora/listar?size="+this.value+"&page="+currentPage;
	    			
	    			if (!isEmpty(sort)) {
	    				queryString += "&sort="+sort;
	    			}
	    			
	    			if (!isEmpty(dir)) {
	    				queryString += "&dir="+dir;
	    			}
	    			
	    			window.location.replace(queryString);
	    		});
	    	}
	    	
	    	function isEmpty(str) {
	    		return (!str || 0 === str.length);
	    	}
	    	
	    </script>
    </th:block>	
		
</body>
</html>